.wrapper{
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-auto-rows: 60px;

  justify-content: center;
}
.grid-box{
  border-left:solid;
  border-top:solid;
}

.tan {
    background-color: tan;
}

.brown {
    background-color: brown;
}

.grid-right{
  border-right:solid;
}

.grid-bottom{
  border-bottom:solid;
}

