/*nav styling*/
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  padding: 1rem;
}
/*home page*/
.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem; /* Add padding for spacing */
  max-width: 1200px;
  margin: 2rem auto;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
}

.instructionsBox {
  display: block;
  padding: 1rem;
  margin-bottom: 10px;
  border-bottom: 1px dashed var(--primary-color);
}

.instructions h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
}

.instructions h3 {
  margin-right: 10px;
  font-weight: bold;
}

.instructions p {
  display: block;
  line-height: 1.6;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .instructions {
    max-width: 90%; /* Adjust max-width for mobile devices */
    padding: 1rem; /* Adjust padding for smaller screens */
  }
  .instructions h1 {
    font-size: 1.5rem; /* Adjust title size for mobile */
  }
}
/* Game styling */
.boardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 1200px;
  margin: 2rem auto;
  height: 90vw;
  max-height: 800px;
  border: 2px solid var(--primary-color);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100%;
  height: 100%;
}

.grid-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tan {
  background-color: var(--tan);
}

.brown {
  background-color: var(--brown);
}

.grid-right {
  border-right: 1px solid var(--black);
}

.grid-bottom {
  border-bottom: 1px solid var(--black);
}
.playerDataContainer {
  border-style: double;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 1rem;
  margin: 0 auto;
}
#gamePage {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.playerContainer {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80%;
  margin-bottom: 2%;
}

.playerDataContainer .checker-piece {
  width: 50px; /* Fixed size for checkers in player data */
  height: 50px;
  border-radius: 50%;
}

/* #arrow{
  align-self: center;
} */
